body {
	background-image: url("http://bitpine.com/av/storage/4e3a1278/av5e0e7c3a9d6b04c46c3.jpg");
}

h1 {
	text-align: center;
	padding: 20px;
	font-size: 40px;
	color: black;
	background-color: #F0F8FF;
	font-family: 'UnifrakturCook', cursive;

}

#description {
	padding: 10px;
	text-align: center;
    border: black;
    color: black;
    font-family: 'Oswald', sans-serif;

}

#empty-div1 {
	padding: 20px;
	background-color: #F0F8FF;
	text-align: center;
	font-size: 30px;
	font-family: 'UnifrakturCook', cursive;

}

#empty-div2 {
	padding: 20px;
	background-color: #F0F8FF;
	text-align: center;
	font-size: 30px;
	font-family: 'UnifrakturCook', cursive;
}

.images {
	text-align: center;
}

#your-total {
	text-align: center;
	font-size: 15px;
	font-family: 'Oswald', sans-serif;
}

#winloss {
	text-align: center;
	margin-top: 10px;
    font-family: 'Oswald', sans-serif;
}	




